version: '3'

services:
  inspector:
    build:
      context: ../../  # Root of the project
      dockerfile: services/inspect/Dockerfile
    ports:
      - "8000:8000"
    volumes:
      # Mount the entire project directory
      - ../../:/workspace
    environment:
      - HOST=0.0.0.0
    restart: unless-stopped 