anonymization_pipeline/
paper/
data/
*.pyc
outputs/
unsloth_compiled_cache/
emissions/
wandb/
archive/
last_run_prepared/
examples/
deepspeed_configs/
experiments/
token/
.env
.ipynb_checkpoints/
.DS_Store
services/inspect/datasets/
services/inspect/current_dataset.json

# Python cache directories
__pycache__/
.pytest_cache/
*.pyo
*.pyd
*.pkl